<div class="container"
     (mousemove)="onMouseMove($event)"
     (mouseup)="onMouseUp($event)">
  <div
    *ngIf="this.position$| async as position"
    [style.top.px]="position.top"
    [style.left.px]="position.left"
    (mousedown)="onMouseDown($event)"
    class="rectangle"></div>

</div>

<app-grid-sample></app-grid-sample>
<app-grid-sample></app-grid-sample>
<app-grid-sample></app-grid-sample>
<app-grid-sample></app-grid-sample>
<app-grid-sample></app-grid-sample>
<app-grid-sample></app-grid-sample>

